.example-card {
  max-width: 400px;
}

.example-header-image {
  margin: 0 auto;
}

img {
  width: 60px;
}

.center-container {
  text-align: -webkit-center;
  margin-top: 10vh;
}

.mat-tab-group {
  margin-bottom: 48px;
}

.example-form {
  margin-top: 20px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

button {
  width: 350px;
}
